#titulo{
    margin-top: 110px;
    margin-left:80px;
}

.card_dados_globais1{
    width: 400px;
    height: 200px;
    margin-left: 700px;
    margin-top: 40px;
}

.card_dados_globais2{
    margin-left: 80px;
    bottom: 233px;
    width: 400px;
    height: 200px;
}